body {
    background-color: whitesmoke;
    font-family: Inter, serif;
    font-size: 48px;
}

.home-video {
    text-align: center;
    margin: auto 0;
}

.our-purpose {
    font-size: 30px;
    font-weight: normal;
    text-indent: 50px;
    text-indent: 50px;
    text-indent: 50px;

}

.special-occasion {
    font-size: 40px;
    font-weight: bold;
    text-indent: 50px;
    text-indent: 50px;
    text-indent: 50px;
    text-indent: 50px;
}
